<h3> Reservations List </h3>


<div class="reservations-list-container">

  <div class="reservations-list-tile" *ngFor="let reservation of reservations">
    <h5>Meal Name: {{reservation.meal.name}}</h5>
    <h5>Number of Portions: {{reservation.portions}}</h5>
    <h5>Portion Price: {{reservation.meal.price}}</h5>
    <h5>Restaurant: {{reservation.restaurant.restaurant.name}}</h5>
    <h5>Total: {{reservation.meal.price * reservation.portions}}</h5>
    <!-- restaurant name -->

  </div>

</div>
