.reservations-list-title h1 {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  /* letter-spacing: 0.2; */
}

.reservations-list-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.reservations-list-tile {
  border-top: 1px solid rgb(120, 164, 241);
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.reservations-list-item-details {
  text-align: center;
  font-size: 15px;
  margin: 5px;
  color: rgb(120, 164, 241);
  letter-spacing: 0.2;
}


/* .reservations-list-item-directions {
  text-align: center;
  background: rgb(120, 164, 241);
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 8px;
  margin-top: 15px;
  padding: 10px;
  letter-spacing: 0.2px;
} */

.reservations-list-message {
  display: flex;
  flex-direction: column;
}

.reservations-list-message p {
  text-align: center;
  font-size: 15px;
  color: rgb(120, 164, 241);
  letter-spacing: 0.2;
}

.reservations-list-penguin-chef {
  height: 100px;
  width: auto;
  margin: auto;
}
