<app-header-menu></app-header-menu>

<div class="confirm-meals-container">

  <ng-container *ngIf="meal">

    <div class="confirm-meals-order-name">
      <h1>Your Reservation from {{meal.restaurant.restaurant.name}} is:</h1>
    </div>

    <div class="confirm-meals-order-review">
      <h4>{{quantity.quantity}} x {{meal.name}} </h4>
    </div>

    <div class="confirm-meals-total-price">
      <h4> Delicious food in exchange for {{quantity.quantity * meal.price}} &euro; </h4>
    </div>

  </ng-container>

  <!-- <h5> {{meal.name}}</h5> -->
  <button class="confirm-meals-button" (click)="reserveMeal()">I confirm that I shall go pick it up :)</button>

</div>
