/*----- Toggle Button -----*/

.toggle-nav {
  display: none;
}


/*----- Header Menu -----*/

@media screen and (min-width: 860px) {
  .universal-header-menu {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background: #303030;
    z-index: 10;
  }
}

.universal-header-menu ul {
  display: inline-block;
  vertical-align: middle;
}

.universal-header-menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style: none;
  font-size: 17px;
}

.universal-header-menu li:last-child {
  margin-right: 0px;
}

.universal-header-menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: white;
  transition: color linear 0.15s;
  text-decoration: none;
}

.universal-header-menu a:hover,
.universal-header-menu .current-item a {
  text-decoration: none;
  color: rgb(120, 164, 241);
}

a.menu-logout {
  color: red;
}


/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .universal-header-container {
    height: 65px;
  }
  .universal-header-menu {
    position: relative;
    display: inline-block;
    z-index: 10;
  }
  .universal-header-menu ul.active {
    display: none;
  }
  .universal-header-menu ul {
    /* plays with width of responsive menu170px */
    width: 200px;
    position: absolute;
    top: 35px;
    left: 2px;
    padding: 10px 27px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
  }
  .universal-header-menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }
  .universal-header-menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .universal-header-menu a {
    display: flex;
    align-items: center;
    height: 30px;
    /* border: 1px solid white; */
    position: relative;
    z-index: 3;
  }
  .overlay {
    z-index: 2;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .menu-item a,
  .current-item a {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .toggle-nav {
    padding: 20px;
    float: left;
    display: inline-block;
    border-radius: 3px;
    background: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    font-size: 20px;
    transition: color linear 0.15s;
  }
  .toggle-nav:hover,
  .toggle-nav.active {
    text-decoration: none;
    color: rgb(120, 164, 241);
  }
}
