<div class="universal-header-container">

  <nav class="universal-header-menu">

    <ul class="active">

      <li class="current-item">
        <a> RESTUS </a>
      </li>

      <li class="menu-item">
        <a [routerLink]="['/restaurants']"> Restaurants </a>
      </li>

      <li class="menu-item">
        <a [routerLink]="['/reservations']"> My Reservations </a>
      </li>

      <li class="menu-item">
        <a [routerLink]="['/edit-profile']"> Edit Profile </a>
      </li>

      <!-- Working Logout Button -->
      <li class="menu-item">
        <a (click)="logout()" class="menu-logout"> Log Out </a>
      </li>

    </ul>

    <a class="toggle-nav" href="#">&#9776;</a>

  </nav>

</div>
