/*----- Toggle Button -----*/

.toggle-nav {
  display: none;
}


/*----- Header Menu -----*/

@media screen and (min-width: 860px) {
  .universal-header-menu {
    width: 100%;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
  }
}

.universal-header-menu ul {
  display: inline-block;
}

.universal-header-menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style: none;
  font-size: 17px;
}

.universal-header-menu li:last-child {
  margin-right: 0px;
}

.universal-header-menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #777;
  transition: color linear 0.15s;
  text-decoration: none;
}

.universal-header-menu a:hover,
.universal-header-menu .current-item a {
  text-decoration: none;
  color: #66a992;
}

a.menu-logout {
  color: red;
}


/*----- Responsive -----*/

@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .universal-header-menu {
    position: relative;
    display: inline-block;
  }
  .universal-header-menu ul.active {
    display: none;
  }
  .universal-header-menu ul {
    /* plays with width of responsive menu170px */
    width: 170px;
    position: absolute;
    top: 120%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
  }
  .universal-header-menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }
  .universal-header-menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .universal-header-menu a {
    display: block;
  }
  .toggle-nav {
    padding: 20px;
    float: left;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    font-size: 20px;
    transition: color linear 0.15s;
  }
  .toggle-nav:hover,
  .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
  }
}
