<div class="universal-header-container">

  <nav class="universal-header-menu">

    <ul class="active">

      <li class="current-item">
        <a> FOODI </a>
      </li>

      <li>
        <a [routerLink]="['/restaurants']"> Restaurants </a>
      </li>

      <li>
        <a [routerLink]="['/edit-profile', req.user]"> Edit Profile </a>
      </li>

      <!-- Working Logout Button -->
      <li>
        <a [routerLink]="['/auth']" (click)="logout()" class="menu-logout"> Log Out </a>
      </li>

    </ul>

    <a class="toggle-nav" href="#">&#9776;</a>

  </nav>

</div>
