/* RESTAURANTS LIST TITLE */

.restaurants-list-title {
  text-align: center;
}


/* CATEGORIES FILTER */

.restaurants-filter-container {
  background: white;
  /* border: 1px solid grey; */
  border-radius: 10px;
  margin: 1vh auto;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 80%;
}

.restaurants-filter-dropdown {
  border: 1px solid rgb(120, 164, 241);
  margin: 1vh auto;
  width: 90%;
  height: 5vh;
  text-align: center;
  background: white;
  color: grey;
}


/* RESTAURANT LIST AND TILES */

.restaurants-list-container {
  background: white;
  /* border: 1px solid grey; */
  border-radius: 10px;
  margin: 10px auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.restaurants-list-tiles {
  border: 1px solid rgb(120, 164, 241);
  justify-content: space-around;
  align-items: flex-start;
  margin: 1vh auto;
  text-align: center;
  width: 90%;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
