<div class="restaurants-filter-container">
  <select [(ngModel)]="selectedCategory" class="restaurants-filter-dropdown">
    <option value="filter-by-category">Select Category</option>
    <option value="Sushi">Sushi</option>
    <option value="Burgers">Burgers</option>
    <option value="Peruvian">Peruvian</option>
  </select>
  <button class="restaurants-filter-search-button" (click)="filterByCategory()" type="button">Search</button>
</div>

<div class="restaurants-list-container">

  <div class="restaurants-list-tiles" *ngFor="let user of users">
    <a [routerLink]="['/restaurants', user._id]">
      <img class="restaurants-list-photo" [src]="user.restaurant.photo">
      <h4 class="restaurants-list-name">{{user.restaurant.name}}</h4>
    </a>
    <!-- include also meals available -->
  </div>
</div>
