<div class="restaurants-filter-container">
  <select class="restaurants-filter-dropdown">
    <option value="filter-by-category">Select Category</option>
    <option value="japanese">Japanese</option>
    <option value="italian">Italian</option>
    <option value="peruvian">Peruvian</option>
  </select>
</div>

<div class="restaurants-list-container">

  <div class="restaurants-list-tiles" *ngFor="let user of users">
    <a [routerLink]="['/restaurants', user._id]">
      <!-- <img class="photo " [src]="user.restaurant.photo "> -->
      <h4 class="name">{{user.restaurant.name}}</h4>
    </a>
    <!-- include also meals available -->
  </div>

</div>
