/* RESTAURANTS LIST TITLE */

.restaurants-list-title {
  color: white;
  font-style: bold;
  text-align: center;
  letter-spacing: 2px;
}


/* CATEGORIES FILTER */

.restaurants-filter-container {
  background: white;
  /* border: 1px solid grey; */
  border-radius: 10px;
  margin: 1vh auto;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  height: 5vh;
}

.restaurants-filter-dropdown {
  border: 1px solid orange;
  margin: 1vh auto;
}


/* RESTAURANT LIST AND TILES */

.restaurants-list-container {
  background: white;
  /* border: 1px solid grey; */
  border-radius: 10px;
  margin: 1vh auto;
  padding: 3vh;
  display: flex;
  flex-direction: column;
}

.restaurants-list-tiles {
  border: 1px solid green;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1vh auto;
  text-align: center;
  width: 80%;
  height: 10vh;
  border-radius: 10px;
}
