/*  */


/* MOBILE MODE: UNDER 860 PX */


/*  */


/* Title */

.restaurants-list-title {
  text-align: center;
}


/* CATEGORIES FILTER */

.restaurants-filter-container {
  /* border: 1px solid grey; */
  margin: 1vh 0px;
  padding: 3vh;
  text-align: center;
}

.restaurants-filter-dropdown {
  border: 1px solid rgb(120, 164, 241);
  margin: 1vh auto;
  width: 90%;
  height: 5vh;
  text-align: center;
  background: white;
  border-radius: 0px;
  color: grey;
}


/* RESTAURANT LIST AND TILES */

.restaurants-list-container {
  /* background: white; */
  /* border: 1px solid grey; */
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.restaurants-list-tiles {
  background: white;
  /* border: 1px solid rgb(120, 164, 241); */
  justify-content: space-around;
  align-items: flex-start;
  margin: 8px 0px;
  height: 120px;
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  overflow: hidden;
  position: relative;
}

.restaurants-list-photo {
  height: auto;
  width: 100%;
  opacity: 0.7;
}

.restaurants-list-name {
  position: absolute;
  top: 52px;
  width: 100%;
  color: white;
  font-weight: bolder;
  letter-spacing: 0.2px;
  font-size: 1.7em;
  /* background-color: rgba(120, 164, 241, 0.5); */
  background-color: rgba(120, 164, 241, 0.780);
}


/*  */


/* WEBSITE MODE: FROM 860 PX */


/*  */

@media screen and (min-width: 860px) {
  .restaurants-filter-dropdown {
    max-width: 766px;
  }
  .restaurants-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  /* CATEGORIES FILTER */
  .restaurants-list-tiles {
    margin: 8px;
    width: 375px;
    height: 230px;
  }
}
