<div class="universal-header-container">

  <nav class="universal-header-nav">

    <ul class="universal-header-bar">

      <li>
        <a href="# ">
          <span class="universal-header-arrow">&#9660;</span>
        </a>

        <ul class="universal-header-sub-menu">
          <li>
            <a href="# ">Restaurants List</a>
          </li>

          <li>
            <a href="# ">Edit Profile</a>
          </li>

          <li>
            <a href="# ">Log Out</a>
          </li>

        </ul>

      </li>

    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
