<div class="restaurant-meals-container" *ngIf="!meals.length">
  There are no meals available at this time, come back later!
</div>

<div class="restaurant-meals-container">

  <div class="restaurant-meals-individual" *ngFor="let meal of meals">

    <h3>{{meal.name}}</h3>
    <h5>{{meal.availablePortions}}</h5>
    <h6>{{meal.price}} EUR</h6>

    <div class="form-group field">
      <label>I want: </label>
      <input type="number" [(ngModel)]=quantity name="portions" min="1" [max]="meal.availablePortions" required/>
    </div>

    <a [routerLink]="['/meal', meal._id, 'confirm']" [queryParams]="{ quantity: quantity }">Reserve</a>

  </div>

</div>
