<div class="restaurant-meals-container" *ngIf="!meals.length">
  There are no meals available at this time, come back later!
</div>

<div class="restaurant-meals-container">
  <div class="restaurant-meals-individual" *ngFor="let meal of meals; let ix = index">
    <div *ngIf="meal.availablePortions > 0">

      <h3 class="restaurant-meals-name">{{meal.name}}</h3>
      <h5 class="restaurant-meals-availability"> {{meal.availablePortions}} are available at {{meal.price}} &euro; each </h5>

      <form class="form" #myForm="ngForm" (ngSubmit)="reserveMeal(myForm, portionField, meal, ix)">
        <div class="form-group field" [ngClass]="{'has-error': feedbackEnabled && portionField.invalid}">
          <input class="restaurant-meals-quantity-chosen" type="number" name="portions" required #portionField [max]="meal.availablePortions"
            placeholder="I will take.." />
          <div class="validation-error" *ngIf="errorManager[ix]">Something Went Wrong</div>
        </div>

        <!-- <a [routerLink]="['/meal', meal._id, 'confirm']" [queryParams]="{ quantity: quantity }">Reserve</a> -->

        <button class="restaurant-meals-reserve" type="submit"> They're mine!</button>
      </form>

    </div>
  </div>
</div>
