<p>
  restaurant-meals-list works!
</p>

<div class="restaurant-meals-container" *ngIf="!meals.length">
  No meals available at the moment
</div>

<div class="restaurant-meals-container" *ngFor="let meal of meals">
  <h3>{{meal.name}}</h3>
  <h5>{{meal.availablePortions}}</h5>
  <h6>{{meal.price}} EUR</h6>
  <div class="form-group field">
    <label>I want: </label>
    <input type="number" [(ngModel)]=quantity name="portions" min="1" [max]="meal.availablePortions" required/>
  </div>
  <a [routerLink]="['/meal', meal._id, 'confirm']" [queryParams]="{ quantity: quantity }">Reserve</a>
</div>
