.restaurant-meals-container {
  max-width: 800px;
  margin: 15px auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.restaurant-meals-container p {
  text-align: center;
  color: darkred;
  font-size: 22px;
}

.restaurant-meals-individual {
  border-top: 1px solid rgb(120, 164, 241);
  width: 100%;
  /* border-radius: 5px; */
  margin: 10px auto;
  padding: 25px 0 15px;
}

.restaurant-meals-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 0.2;
}

.restaurant-meals-availability {
  text-align: center;
  margin: 15px auto;
  font-size: 15px;
  letter-spacing: 0.2;
}

.form {
  margin: 0 auto;
  max-width: 375px;
}

input {
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  border: 2px rgba(242, 206, 61, 0.646) solid;
  margin: 5px auto;
  color: rgb(120, 164, 241);
  align-items: stretch;
  width: 100%;
  height: 44px;
}

.restaurant-meals-reserve {
  background: rgba(242, 206, 61, 0.646);
  width: 100%;
  height: 44px;
  color: rgb(120, 164, 241);
  font-weight: bold;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
