/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background: white;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

p {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

h1 {
  color: rgb(120, 164, 241);
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  font-size: 36px;
}

h3 {
  color: rgb(120, 164, 241);
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}

h4 {
  color: darkblue;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
}


/* forms */

form label {
  display: block;
  margin-bottom: 5px;
}

form .field {
  margin-bottom: 20px;
}

form .field.has-error label {
  color: red;
}

form .validation-error {
  color: red;
}

form input {
  padding: 5px;
  width: 80%;
}

form .submit button {
  padding: 10px 80px;
}
