.restaurants-details-container {
  margin-top: 15px;
  /* border: 2px solid grey; */
}

.restaurants-details-photo {
  display: flex;
  align-items: flex-start;
  align-items: center;
  align-self: center;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.restaurants-details-photo img {
  margin: 0px auto;
  /* clip-path: circle(75px at 50% 50%) */
  display: block;
  width: 100%;
  height: auto;
}

.restaurants-details-text-container {
  /* border: 2px solid lightblue; */
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 15px auto;
  padding: 0 15px;
}

.restaurant-details-name {
  text-align: center;
  margin: 0px;
}

.restaurant-details-category {
  text-align: center;
}

.restaurant-details-address {
  text-align: center;
}

.restaurant-details-directions {
  text-align: center;
  background: rgb(120, 164, 241);
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 8px;
  padding: 10px;
  letter-spacing: 0.2px;
}

.restaurant-details-phone {
  text-align: center;
  background: rgb(120, 164, 241);
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 8px;
  padding: 10px;
  letter-spacing: 0.2px;
}

.restaurant-details-description {
  line-height: 28px;
  text-align: center;
}
