<div class="restaurants-details-container">

  <div class="restaurants-details-photo">
    <img [src]="user.restaurant.photo">
  </div>

  <div class="restaurants-details-text-container">
    <h1 class="restaurant-details-name"> {{user.restaurant.name}}</h1>
    <h3 class="restaurant-details-category"> {{user.restaurant.category}} </h3>
    <h3 class="restaurant-details-address"> {{user.restaurant.address}} </h3>
    <p class="restaurant-details-description"> {{user.restaurant.description}} </p>
    <a class="restaurant-details-directions" [href]="user.restaurant.mapsLink"> Take Me There </a>
    <a class="restaurant-details-phone" href="{{user.phoneNumber}}"> Call </a>
  </div>

</div>
